<h1><%= t 'filter.list' %></h1>

<ul>
  <% @filters.each do |filter| -%>
    <li><%= h filter.query %></li>
  <% end -%>
</ul>

<%= form_for Filter.new do |f| -%>
  <%= render :partial => 'form', :locals => { :form => f } %>
<% end -%>
